<link rel="stylesheet" href="/css/manageUser_layout.css">
<h1>Manage User</h1>
<div id="manageUserDiv">
    <div id="manageUserFormContainer">
        <form id="updateempForm" method="post" action="/admin/update/<%=emp._id%>">
            <table>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <input type="text" name="name" value="<%=emp.name%>" disabled>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Email</label>
                    </td>
                    <td>
                        <input type="email" name="email" value="<%=emp.email%>" disabled>
                    </td>
                </tr>
                <tr>
                    <td><label for="">Access Type</label></td>
                    <td>
                        <fieldset id="empAcessType">
                            <input type="radio" name="role" value="Admin" disabled <%= emp.userAccessType === "Admin" ? 'checked' : '' %>>Admin
                            <input type="radio" name="role" value="Employee" disabled <%= emp.userAccessType === "Employee" ? 'checked' : '' %>>Employee
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <button id="btnEdit">Edit</button>
                        <button id="deleteEmp"><a href="/admin/delete/<%=emp._id%>">Delete</a></button>
                        <input type="submit" value="Update" id="btnSubmit">
                        <button id="btnCancel">Cancel</button>
                    </td>
                </tr>
                
            </table>
        </form>
    </div>
</div>
<script>
    const editButton=document.getElementById("btnEdit");
    const cancelButton = document.getElementById("btnCancel");
    const deleteButton = document.getElementById("deleteEmp");
    editButton.onclick= function(event){
        event.preventDefault();
        document.getElementById("btnSubmit").style.display="inline";
        editButton.style.display="none";
        const inputFields = document.querySelectorAll('input');
        inputFields.forEach(function(inputFields){
            inputFields.disabled=false;
        });
        cancelButton.style.display="inline";
        deleteButton.style.display="none";
    };
    
        cancelButton.onclick= function (event) {
        event.preventDefault();
        document.getElementById("btnSubmit").style.display="none";
        editButton.style.display="inline";
        const inputFields = document.querySelectorAll('input');
        inputFields.forEach(function(inputFields){
            inputFields.disabled=true;
        });
        cancelButton.style.display="none";
        deleteButton.style.display="inline";
    }
</script>