<link rel="stylesheet" href="/css/manageReview_layout.css">
<div id="empList" >
    <div id="assignReview">
        <h2>Ask Feedback for: <i><%=employeeForReview.name%></i></h2>
        <ul id="reviewByList">
           <% if(employeeList.length>0){%>
            <%for(employee of employeeList){%>
                <li>
                    <div id="divEmpDetails">
                        <label id="lblName"><%= employee.name%></label>
                        <label id="email"><%= employee.email%> </label>
                         <% let assignedReviewer = employee.assigned_reviews.filter((a) => { 
                        return a.equals(employeeForReview.id);
                      }); %>  
                        <%if(assignedReviewer.length){%>
                            <a id="assignedLink" href="">Assigned</a>
                            <%}else{%>
                                <a id="unAssignedLink" href="/admin/assignReview/<%=employee._id%>/<%=employeeForReview.id%>">Ask for Review </a>
                                <%}%>
                    </div>
                </li>
                <%}%>
           <%}else{%>
            <li>
                <div>
                    <label>No Employee Added</label>
                </div>
            </li>
            <%}%>
        </ul>
    </div>
    <div id="askedFromFeedbackList">
        <h2>
            Feedbacks asked from
        </h2>
        <ul id="assignedhistoryList">
            <% if(employeeForReview.assigned_reviewers.length){%>
                <% for(i of employeeForReview.assigned_reviewers){%>
                    <li>
                        <div id="assignedhistoryDetails">
                            <label><%=i.name%> </label>
                            <%let dateVal = new Date(i.createdAt);
                            let date= (dateVal.toDateString());%>  
                            <label><%=date%></label>
                        </div>
                    </li>
                    <%}%>
                <%}else{%>
                    <li id="defaultMessage">
                        <div id="defaultMessageDiv">
                            <label>Not asked from Anyone</label>
                        </div>
                    </li>
                    <%}%>
        </ul>
    </div>
</div>
<div id="receivedFeedbackList">
    <h2>
        Feedbacks Received
    </h2>
<ul id="feedbackReceivedList">
   <%if(reviews.length){%>
    <%for(review of reviews){%>
        <li>
            <table >
                
                <tr>
                    <td><label for=""><strong>Feedback By : </strong><%=review.reviewed_by.name%></label><br></td>
                </tr>
                
                <tr>
                    <%let dateVal = new Date(review.createdAt);
                    let date= (dateVal.toDateString());%>  
                    <td><label for=""><strong>Date : </strong><%=date%></label>
                    </td>
                </tr>
                <tr id="rowEditLink">
                    <td>
                        <strong><a href="/admin/update-review/<%=review.id%>/<%=employeeForReview.id%>">Edit</a></strong>
                    </td>
                </tr>
            </table>
          </li>
        <%}%>
    <%}else{%>
        <li>
            <div>
              <h3><label for="">No Reviews Submitted</label></h3>
            </div>
          </li>
        <%}%>
</ul>
</div>
